* {
  box-sizing: border-box;
  /* border: 1px solid blue; */
  
}

/* mobile first design  */
body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

#container1{
  /* background-image: url(/assets/images/mobile5.jpg); */
  background-color: #eff8ff; 
  /* border: 1px solid; */
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.btn-login,nav ul,
button {
  display: none;
}

nav img {
  width: 120px;
  cursor: pointer;
}

nav h3 {
  font-size: 30px;
  padding-left: 230px;
}

.new{
  font-size: 11px;
  margin-top: 30px;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;

}

.connect{
  text-align: center;
  justify-content: center;
  font-size: 20px;
  color: #102a43;
  padding: 0px 50px;
  margin-top: -10px;
  line-height: 50px;
}

.connect span{
  color: #06a0f1;
}

.new span{
color: white;
background-color: #06a0f1;
border-radius: 25px;
padding: 2px 12px;
}

.new p{
  color: #55c1ff;
  background-color: #dff1ff;
  border-radius: 10px;
  padding: 5px 10px 5px 3px ;
}

.say{
  color: #4b6783;
  text-align: center;
  justify-content: center;
  padding: 0px 20px;
  margin-top: -20px
}

.img1{
  display: flex;
  gap: 20px;
  height: 40px;
  cursor: pointer;
  margin:30px 70px;
}
.img1 img{
  border-radius: 10px;
}
.effortless{
  width: 70%;
  height: 100%;
  margin: auto;
}

.effortless img{
  width: 100%;
  margin-left: 90px;
  margin: auto;
  margin-top: 15px;
}

#container2{
  background-color: #fffdfa;
  width: 100%;
    height: 100%;
    /* border: 1px solid black; */
   display: flex;
   flex-direction: column;
   align-items: center;
}
.abeg{
    width: 80%;
    height: 300px;
    /* border: 1px solid red; */
    margin-top: 30px;
}
.abeg1 img{
width: 80%;
height: 250px;
margin-left: 80px;
margin-top: 25px;
}
.abeg2 img{
  z-index: 1;
  width: 50%;
  position: relative;
  bottom: 250px;
}
.Rev{
  color: #475b6e;
  font-size: 15px;
  width: 80%;
  height: 350px;
  /* border: 1px solid red; */

}
.Rev h1{
  line-height: 35px;
  margin-top: 40px;
}
.Rev span{
  color: #06a0f1;
}
.Rev button{
  display: flex;
  font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: #06a0f1;
    color: white;
    padding: 15px 40px;
    font-weight: bold;
    margin-top: 30px;
}

#container3{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.abegbot{
  width: 85%;
    height: 450px;
    /* border: 1px solid red; */
    margin-top: 30px;
}
.abegbot1 img{
  width: 60%;
  height: 400px;
  margin-left: 115px;
  margin-top: 0px; 
}
.abegbot2 img{
  z-index: 1;
  width: 50%;
  position: relative;
  bottom: 240px;
  border-radius: 20px;
}
.virtual{
  /* border: 1px solid blue; */
  width: 85%;
  height: 400px;
  color: #102a42;
}
.virtual span{
  color: #06a0f1;
}
.virtual h1{
  font-size: 30px;
}
.virtual p{
  font-size: 15px;
}
.virtual ul{
  font-weight: bold;
  line-height: 35px;
}

#container4{
  /* border: 1px solid blue; */
  background-color: #fffcf9;
  width: 100%;
  height: 100%;
}
.unlimited{
  /* border: 1px solid red; */
  width: 85%;
  height: 305px;
  margin: 20px auto;
}
.unlimited span{
  color: #06a0f1;
}
.unlimited h1{
font-size: x-large;
color: #102a43;
}
.unlimited p, ul{
color: #102a43;
}
.unlimited ul li{
  line-height: 40px;
  font-weight: bold;
}
.abegunlimit{
  /* border: 1px solid green; */
  width: 85%;
  height: 460px;
  margin: 0 auto
}
.abegunlimit1 img{
  width: 60%;
  height: 400px;
  margin-left: 115px;
  margin-top: 25px;
  border-radius: 20px;
}
.abegunlimit2 img{
  z-index: 1;
  width: 50%;
  height: 230px;
  position: relative;
  bottom: 310px;
  border-radius: 20px;
}

#container5{
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
  background-color:#eaf3fa ;
}
.elevate{
  /* border: 1px solid red; */
width: 85%;
height: 550px;
margin: 40px auto;
justify-content: center;
align-content: center;
}
.elevate h1{
  text-align: center;
font-size: 25px;
}
.elevate p{
  color: #102a43;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
}
.elevate span{
  color: #06a0f1;
}

.video{
  background-color: #ffffff;
  /* border: 1px solid green; */
  padding-top: 3px;
  width: 85%;
  height: 380px;
  margin: 0px auto;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  bottom: 350px;
}
.video h3{
  padding: 0 70px;
  text-align: center;
color: #102a43;
}
.video p{
  text-align: center;
  color: #102a42;
}
.video1 img{
  /* border: 1px solid red; */
  width: 85%;
  height: 190px;
   margin: 0px 28px;
}

#container6{
  /* border: 2px solid red; */
  background-color: #020f33;
  width: 100%;
  height: 1050px;
}
.customizable{
  background-color: #ffffff;
  border: 1px solid green;
  padding-top: 3px;
  width: 85%;
  height: 380px;
  margin: auto;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  top: -320px;
}
.customizable h3{
  padding: 0 70px;
  text-align: center;
color: #102a43;
}
.customizable p{
  text-align: center;
  color: #102a42;
  padding: 0 9px;
  font-size: 15px;
}
.customizable1 img{
  width: 80%;
  height: 190px;
  margin-top: 0px;
  margin-left: 35px;
  
}
.exp{
  margin-top: -250px;
  color: #ffffff;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
.high{
  margin: 40px auto;
  width: 80%;
  color: #102a42;
  background-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color:yellow white white white;
}
.high h4{
  padding-top: 50px;
  text-align: left;
  padding-left: 15px;
 
}
.high p{
  text-align: left;
  font-size: 15px;
  padding-left: 12px;
}
.screen{
  margin: 30px auto;
  width: 80%;
  color: #102a42;
  background-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color:#00d9ff white black white;
  position: relative;
  z-index: 1;
  top: 5px;
}
.screen h4{
  padding-top: 50px;
  text-align: left;
  padding-left: 15px;
}
.screen p{
  text-align: left;
  font-size: 15px;
  padding-left: 12px; 
}
.meeting{
  margin: 30px auto;
  width: 80%;
  color: #102a42;
  background-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color:#ff5600 white black white;
  position: relative;
  z-index: 1;
  top: 3px;
}
.meeting h4{
  padding-top: 50px;
  text-align: left;
  padding-left: 15px; 
}
.meeting p{
  text-align: left;
  font-size: 15px;
  padding-left: 12px;
}

#container7{
  background-color: #fdfcfa;
  width: 100%;
  height: 100%;
  
}
.our{
  margin-top: 380px;
  padding: 0 30px;
}
.our h2{
  padding-top: 40px;
}
.terry{
  margin: 40px auto;
  width: 85%;
  color: #102a42;
  border: 1px solid black;
  background-color: #ffffff;
  border-radius: 10px;
}
.terry h4{
  padding-top: 0px;
  text-align: left;
  padding-left: 15px;
}
.terry img{
  border-radius: 80px;
  margin-top: 20px;
  margin-left: 20px;
  height: 50px;
  width: 50px;
}
.terry p{
  text-align: left;
  font-size: 15px;
  padding-top: 5px;
  padding-left: 15px;
  
}
.amily, .davis, .dias{
  display: none;
}
.moib1{
  /* border: 1px solid blue; */
  width: 85%;
  margin: auto;
  height: 100%;
}
.moib1 img{
width: 100%;
height: 350px;
}
.moib2{
  /* border: 1px solid blue; */
  width: 85%;
  margin: auto;
  height: 100%;
}
.moib2 h5{
  font-size: 28px;
  color: #395066;
}
.moib2 p{
  color: #395066;
}
.moib2img{
  width: 100%;
  height: 100px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.moib2img-1{
  width: 130px;
  height: 50px;
  border-radius: 10px;
  margin: 0 12px;
}
.moib2img-1 img{
  width: 100%;
  margin-left: -33px;
  border-radius: 10px;
  transition: 0.5s;
}
.moib2img-1 img:hover{
  transform: scale(1.1);
}
.container7subsec2{
  display: flex;
  flex-direction: column-reverse;
}

#container8{
background-color: #020f33;
width: 100%;
height: 100%;
color: white;
}
.lastpagelogo{
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
  margin: 30px auto;
}
.lastpagelogo img{
  width: 120px;
  margin-left: 140px;
  padding: 20px 0;
}
.lastpageyou{
  text-align: center;
  font-weight: bold;
}
.lastpagecaption{
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
}
.lastpagecaptionfirst{
  width: 85%;
  height: 100%;
  /* border: 1px solid white; */
  margin: auto;
  display: flex;
}
.lastpagecaption-1{
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;

}
.lastpagecaption-2{
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
}

.lastpagecaptionsecond{
  width: 85%;
  height: 100%;
  /* border: 1px solid white; */
  margin: auto;
  display: flex;
}
.lastpagecaption-3{
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;

}
.lastpagecaption-4{
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
}

/* laptop first design  */
@media only screen and (min-width: 1024px) {


  body {
    font-family: 'Poppins', sans-serif;
  }

  nav h3 {
    display: none;
  }
.regular ul {
  margin-left: 200px;
}
  nav {
  padding: 0px 80px;
  align-items: center;
 font-weight: bold;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    color: #395066;
  }

  .btn-login:hover, a:hover{
    color:  #06a0f1;
    font-weight: bold;
  }

  nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 30px;
    
  }

  button {
    display: flex;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
  }

  button:hover{
    color: white;
    background-color: #06a0f1;
    border-radius: 20px;
    font-weight: bold;
  }

  .btn-login {
    display: flex;
    padding-left: 200px;
    cursor: pointer;
  }

  .new{
    font-size: 15px;
    margin-top: 110px;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;

  }

  .connect{
    font-size: 35px;
    padding: 0px 180px;
    line-height: 85px;
    margin-top: 10px;
    margin-top: -35px
  }

  .say{
    padding: 0px 400px;
    font-size: 18px;
    margin-top: -40px
  }

  .img1{
    display: flex;
    gap: 25px;
    height: 50px;
    cursor: pointer;
    width: 170px;
    transition: (0.5s);
    margin:40px 500px;
  }
  .img1:hover{
transform: scale(1.1);
  }
  .img1 img{
    border-radius: 10px;
  }
  .effortless{
    background-image: url(/assets/images/Mobile-App-Hero-BG-2.webp);
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 70px;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
  }
 
  .effortless img{
    width: 80%;
    margin-left: 90px;
  }

#container2{
  background-color: #fffdfa;
  width: 100%;
  height: 700px;
  /* border: 1px solid black; */
  border: none;
  display: flex;
  flex-direction: row;
  gap: 90px;
}
.Rev{
  color: #475b6e;
  font-size: 28px;
  width: 40%;
  height: 500px;
  /* border: 1px solid red; */
  /* border: none; */
  margin-left: 80px;
/* margin-right: auto; */
}
.Rev p{
  font-size: 18px;
}
.Rev h1{
  line-height: 70px;
  margin-top: 80px;
  font-size: 50px;
}

.abeg{
  width: 40%;
  height: 500px;
  /* border: 1px solid red; */
  /* border: none; */
  margin-top: 0%;
  margin-right: 80px;
  /* margin: auto; */
}
.abeg1 img{
width: 70%;
height: 350px;
margin-left: 130px;
margin-top: 130px;
}
.abeg2 img{
z-index: 1;
width: 50%;
position: relative;
bottom: 350px;
}

#container3{
  width: 100%;
  height: 600px;
  background-color: #ffffff;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}

.abegbot{
  width: 50%;
  height: 500px;
  /* border: 1px solid red; */
  /* border: none; */
  margin-top: 0%;
  margin-left: 80px;
  margin-right: 80px;
  /* margin: auto; */
}
.abegbot1 img{
  width: 50%;
  height: 490px;
  margin-left: 200px;
  margin-top: 0px;
}
.abegbot2 img{
  z-index: 1;
width: 60%;
height: 210px;
position: relative;
bottom: 305px;
border-radius: 20px;
}

.virtual{
  color: #475b6e;
  font-size: 20px;
  width: 50%;
  height: 500px;
  /* border: 1px solid blue; */
  /* border: none; */
  margin-right: 80px;
  margin-left: 80px;
}
.virtual span{
  color: #06a0f1;
}
.virtual p{
  font-size: 18px;
}
.virtual h1{
  line-height: 50px;
  margin-top: 0;
  font-size: 50px;
}

#container4{
  width: 100%;
  height: 680px;
  background-color: #fffcf9;
  display: flex;
}
.unlimited{
  width: 35%;
  height: 600px;
  margin: 50px auto;
}
.unlimited p{
  color: #102a43;
  line-height: 30px;
  }
.unlimited h1{
  font-size: 50px;
  font-weight: bold;
  color: #102a43;
  padding-top: 50px;
}
.unlimited ul li{
font-weight: bold;
font-size: larger;
line-height: 60px;
}
.abegunlimit{
  width: 40%;
  height: 600px;
  margin: 50px auto;
}
.abegunlimit1 img{
  width: 50%;
  height: 510px;
  margin-left: 220px;
  margin-top: 50px;
  border-radius: 20px;
}
.abegunlimit2 img{
  z-index: 1;
  width: 50%;
  height: 350px;
  position: relative;
  bottom: 450px;
  border-radius: 20px;
}

#container5{
  border: 1px solid blue;
  width: 100%;
  height: 100%;
  background-color:#eaf3fa ;
}
.elevate{
  border: 1px solid red;
width: 70%;
height: 100%;
margin: 0 auto;
}
.elevate span{
  color: #06a0f1;
}

}